.env
advanced_diary_app/node_modules
advanced_diary_app/package-lock.json
advanced_diary_app/tsconfig.json
advanced_diary_app/.expo
advanced_diary_app/expo-env.d.ts
advanced_diary_app/android
advanced_diary_app/ios
advanced_diary_app/GoogleService-Info.plist
advanced_diary_app/backend/node_modules
advanced_diary_app/backend/package-lock.json
advanced_diary_app/.env
advanced_diary_app/backend/.env